apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
  namespace: ecommerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
        - name: order
          image: REPLACE_ME_ORDER_IMAGE
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4003
          env:
            - name: PORT
              value: "4003"
            - name: CATALOG_BASE_URL
              value: "http://catalog:4001"
          readinessProbe:
            httpGet:
              path: /health
              port: 4003
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 4003
            initialDelaySeconds: 10
            periodSeconds: 10

